node_modules
.env


# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
cache_forge/solidity-files-cache.json

# MacOS
.DS_Store

# Forge
out
broadcast
cache_forge
cache
dependencies